BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 26px;
    FONT-SIZE: 70%;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV
{
    BORDER-RIGHT: #999999 2px solid;
    PADDING-RIGHT: 8px;
    BORDER-TOP: #999999 2px solid;
    PADDING-LEFT: 8px;
    BACKGROUND: #cccccc;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #999999 2px solid;
    WIDTH: 90%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999999 2px solid
}
H1
{
    MARGIN-LEFT: -26px;
    COLOR: blue;
    FONT-STYLE: oblique;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2
{
    MARGIN-LEFT: -26px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3
{
    MARGIN-LEFT: -26px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4
{
    MARGIN-LEFT: -26px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1
{
    MARGIN-TOP: 0.5em;
    FONT-SIZE: 145%;
    MARGIN-BOTTOM: 0.5em
}
H2
{
    MARGIN-TOP: 1em;
    FONT-SIZE: 130%;
    MARGIN-BOTTOM: 0.6em
}
H3
{
    MARGIN-TOP: 1em;
    FONT-SIZE: 115%;
    MARGIN-BOTTOM: 0.6em
}
H4
{
    MARGIN-TOP: 1em;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0.6em
}
UL P
{
    MARGIN-LEFT: 0em
}
OL P
{
    MARGIN-LEFT: 0em
}
DL P
{
    MARGIN-LEFT: 0em
}
P
{
    MARGIN-TOP: 0.6em;
    MARGIN-BOTTOM: 0.6em
}
DL
{
    MARGIN-TOP: 0em
}
DD
{
    MARGIN-BOTTOM: 0em;
    MARGIN-LEFT: 1.9em
}
DT
{
    MARGIN-TOP: 0.6em
}
UL
{
    MARGIN-TOP: 0.6em;
    MARGIN-BOTTOM: 0em
}
OL
{
    MARGIN-TOP: 0.6em;
    MARGIN-BOTTOM: 0em
}
OL
{
    MARGIN-LEFT: 3.6em
}
UL
{
    MARGIN-LEFT: 1.9em;
    LIST-STYLE-TYPE: disc
}
LI
{
    MARGIN-BOTTOM: 0.6em
}
UL OL
{
    LIST-STYLE-TYPE: lower-alpha
}
OL OL
{
    LIST-STYLE-TYPE: lower-alpha
}
PRE
{
    MARGIN-TOP: 0.6em;
    MARGIN-BOTTOM: 0.6em
}
PRE
{
    FONT: 100% Courier New, Courier, mono;
    COLOR: #660000
}
CODE
{
    FONT: 100% Courier New, Courier, mono;
    COLOR: #660000
}
TABLE
{
    MARGIN-TOP: 0.6em;
    BACKGROUND: #999999;
    MARGIN-BOTTOM: 0.3em;
    WIDTH: 90%
}
TH
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 70%;
    BACKGROUND: #cccccc;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: bottom;
    PADDING-TOP: 4px;
    TEXT-ALIGN: left
}
TD
{
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    FONT-SIZE: 70%;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: top;
    PADDING-TOP: 4px
}
BLOCKQUOTE
{
    MARGIN: 0.6em 3.8em
}
SUP
{
    FONT-SIZE: smaller;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #0066ff
}
A:visited
{
    COLOR: #996600
}
A:hover
{
    COLOR: #cc9900
}
.label
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: -26px
}
.tl
{
    MARGIN-BOTTOM: 0.75em
}
.atl
{
    PADDING-LEFT: 1.5em;
    PADDING-BOTTOM: 0.75em
}
.cfe
{
    FONT-WEIGHT: bold
}
.mini
{
    FONT-SIZE: smaller
}
.dt
{
    MARGIN-BOTTOM: -0.6em
}
.indent
{
    MARGIN-LEFT: 1.9em;
    MARGIN-RIGHT: 1.9em
}
.product
{
    FONT-SIZE: smaller;
    COLOR: #333333;
    FONT-STYLE: italic;
    TEXT-ALIGN: right
}
.buttonbarshade
{
    LEFT: 10px;
    MARGIN: 0px;
    WIDTH: 100%;
    POSITION: relative;
    TOP: 2px;
    HEIGHT: 21px
}
.buttonbartable
{
    LEFT: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    POSITION: absolute;
    TOP: 2px;
    HEIGHT: 21px
}
TABLE.buttonbartable TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    BACKGROUND: #99ccff;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
    BORDER-LEFT: #ffffff 2px solid;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, sans-serif
}
TABLE.buttonbarshade TD
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 9pt;
    BACKGROUND: #99ccff;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
    BORDER-LEFT: #ffffff 2px solid;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, sans-serif
}
TABLE.buttonbartable TD.button1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    BACKGROUND: #6699ff;
    PADDING-BOTTOM: 0px;
    CURSOR: hand;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
TABLE.buttonbartable TD.button2
{
    FONT-WEIGHT: bold;
    BACKGROUND: #99cc66;
    TEXT-ALIGN: center
}
TABLE.buttonbartable TD.button3
{
    FONT-WEIGHT: bold;
    BACKGROUND: #cc9966;
    TEXT-ALIGN: center
}
TABLE.buttonbartable TD.runninghead
{
    PADDING-LEFT: 4px;
    FONT-STYLE: italic;
    TEXT-ALIGN: left
}
.version
{
    MARGIN-TOP: 3em;
    FONT-SIZE: smaller;
    MARGIN-LEFT: -26px;
    COLOR: #000000;
    FONT-STYLE: italic;
    TEXT-ALIGN: left
}
.lang
{
    FONT: 7pt Arial, Helvetica, sans-serif;
    COLOR: #0000ff
}
.ilang
{
    FONT: 7pt Arial, Helvetica, sans-serif;
    COLOR: #0000ff
}
DIV.langMenu
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 8pt;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 8pt;
    Z-INDEX: 1;
    BACKGROUND: #ffffd0;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 8pt;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 96pt;
    PADDING-TOP: 8pt;
    BORDER-BOTTOM: #000000 1px solid;
    POSITION: absolute
}
DIV.langMenu UL
{
    PADDING-LEFT: 2em;
    MARGIN-LEFT: 0px
}
DIV.filtered
{
    BORDER-RIGHT: #aaaacc 2px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #aaaacc 2px solid;
    PADDING-LEFT: 26px;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 8px;
    MARGIN: 4pt 0px 8pt -26px;
    BORDER-LEFT: #aaaacc 2px solid;
    WIDTH: 100%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #aaaacc 2px solid
}
DIV.filtered2
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 4px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 26px;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 8px;
    MARGIN: 4pt 0px 8pt -26px;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: medium none
}
DIV.filtered H1
{
    MARGIN-LEFT: -22px
}
DIV.filtered H2
{
    MARGIN-LEFT: -22px
}
DIV.filtered H3
{
    MARGIN-LEFT: -22px
}
DIV.filtered H4
{
    MARGIN-LEFT: -22px
}
DIV.filtered SPAN.lang
{
    LEFT: -22px;
    POSITION: relative
}
DIV.reftip
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 8pt;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 8pt;
    Z-INDEX: 1;
    BACKGROUND: #ffffd0;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 8pt;
    BORDER-LEFT: #000000 1px solid;
    PADDING-TOP: 8pt;
    BORDER-BOTTOM: #000000 1px solid;
    POSITION: absolute
}
PRE.syntax
{
    PADDING-RIGHT: 4pt;
    PADDING-LEFT: 4pt;
    BACKGROUND: #dddddd;
    PADDING-BOTTOM: 2pt;
    CURSOR: text;
    PADDING-TOP: 2pt
}
PRE.syntax
{
    COLOR: #000000
}
A.synParam
{
    COLOR: #0040ff;
    TEXT-DECORATION: none
}
A.synParam:hover
{
    TEXT-DECORATION: underline
}
DIV.sapop
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 36px;
    Z-INDEX: 1;
    BACKGROUND: #ffffd0;
    LEFT: 26px;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 10px;
    BORDER-LEFT: #000000 1px solid;
    WIDTH: 100%;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #000000 1px solid;
    POSITION: absolute
}
DIV.footer
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    MARGIN-TOP: 18pt;
    FONT-SIZE: 76%;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 12pt;
    BORDER-LEFT: medium none;
    WIDTH: 100%;
    COLOR: #228b22;
    BORDER-BOTTOM: medium none;
    TEXT-ALIGN: center
}
.note
{
    MARGIN-LEFT: 14pt;
    MARGIN-RIGHT: 12pt
}
.indent1
{
    MARGIN-LEFT: 12pt
}
.indent2
{
    MARGIN-LEFT: 24pt
}
.indent3
{
    MARGIN-LEFT: 36pt
}
P.proch
{
    PADDING-LEFT: 16px
}
P.proch IMG
{
    LEFT: -18px;
    MARGIN-BOTTOM: -18px;
    VERTICAL-ALIGN: top;
    MARGIN-RIGHT: -14px;
    POSITION: relative
}
.diagClass
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 2em;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 2em;
    PADDING-BOTTOM: 0.2em;
    BORDER-LEFT: black 1px solid;
    PADDING-TOP: 0.2em;
    BORDER-BOTTOM: black 1px solid;
    HEIGHT: 2em;
    BACKGROUND-COLOR: #ccffff
}
A.diagClass:hover
{
    TEXT-DECORATION: underline
}
A.diagClass:visited
{
    COLOR: black
}
A.diagClass
{
    COLOR: black;
    TEXT-DECORATION: none
}
.diagClassCol
{
    BORDER-RIGHT: black 1px solid;
    PADDING-RIGHT: 2em;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 2em;
    PADDING-BOTTOM: 0.2em;
    BORDER-LEFT: black 1px solid;
    PADDING-TOP: 0.2em;
    BORDER-BOTTOM: black 1px solid;
    HEIGHT: 2em;
    BACKGROUND-COLOR: #ffffcc
}
A.diagClassCol:hover
{
    TEXT-DECORATION: underline
}
A.diagClassCol
{
    COLOR: black;
    TEXT-DECORATION: none
}
A.diagClassCol:visited
{
    COLOR: black
}
FONT.keyword
{
    COLOR: darkblue
}
FONT.identifier
{
    FONT-WEIGHT: bold;
    FONT-STYLE: italic
}
FONT.number
{
    COLOR: magenta
}
FONT.string
{
    COLOR: magenta
}
FONT.comment
{
    COLOR: green
}
FONT.doccomment
{
    COLOR: gray
}
FONT.error
{
    COLOR: red
}
SPAN.spellerror
{
    COLOR: red;
    BORDER-BOTTOM: red 1px solid
}
SPAN
{
    BACKGROUND-COLOR: lightskyblue
}
