name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Update Ranking List
      run: |
        go env -w GO111MODULE=on
        pushd .sync
        go get -v -t -d ./...
        go build main.go
        chmod +x main
        popd
        .sync/main
      env:
        ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Push Results
      env:
        GITHUB_USER: "Shaffer John"
        GITHUB_EMAIL: "www.pig2@qq.com"
      run: |
        git config user.name "${GITHUB_USER}"
        git config user.email "${GITHUB_EMAIL}"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git
        git checkout master
        git commit -am "Auto Update"
        git push -u origin master
